extends layout

block content
  
  h1 Upload Image
  br
  br

  form(action="/upload", method="post", enctype="multipart/form-data")
    input(type="file", name="images", multiple="")
    p
    input.tag(id="tags", type="text", name="tags", placeholder="[Press Tab for more Tags]")