doctype 5
html
  head
    title=title

    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript', src='/javascripts/script.js')
    
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href='/') PicsUniverse Album 
          div.nav-collapse.collapse
            ul.nav
              li(class=title=='Home'?'active':undefined')
                a(href="/") Home
              li(class=title=='My Gallery'?'active':undefined)
                a(href="/mygallery") My Gallery
              li(class=title=='Gallery'?'active':undefined)
                a(href="/gallery") Gallery
    div(class="shadow", id="main")
      input#tag-search(type="text", placeholder="Search with Tags separated by Whitespace")
      block filter
      block content